.navbar-default {
  background-color: #ff6138;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ffff9d;
}
.navbar-default .navbar-brand {
  width: 170px;
  height: 100px;
}
.navbar-default .navbar-brand-avatar {
  margin-top: 5px;
  width: 70px;
  height: 70px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffff9d;
}
.navbar-default .form-group {
  margin-top: 23px;
}
.navbar-default .btn-default {
  margin-top: 23px;
  background-color: #FFFF9D;
}
.navbar-default .navbar-nav > li > a {
  color: #ffff9d;
  margin-top: 20px;
  font-family: "Architects Daughter";
  font-weight: bold;
  font-size: 25px;
}
.navbar-default .navbar-nav-main > li > a {
  color: #ffff9d;
  margin-top: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ff6138;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffff9d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #c0392b;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
  margin-top: 30px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffff9d;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffff9d;
}
.navbar-default .navbar-link {
  color: #ffff9d;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffff9d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #c0392b;
  }
}