div.jumbotron{
    background-color:#ff6138;
}

h1.username {
	font-family: "Crafty Girls";
	font-weight: bold;
	font-size: 34px;
	color: black;
}

h2.point {
	font-family: "Crafty Girls";
	font-weight: bold;
	font-size: 24px;
	color: #d68227;
}

h3.info {
	font-family: "Kite One";
	font-size: 20px;
	color: black;
}
